<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>14648808947-ko3brssr66q2n7m850ijrcd2vk3jpi4c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.14648808947-ko3brssr66q2n7m850ijrcd2vk3jpi4c</string>
	<key>API_KEY</key>
	<string>AIzaSyATQnxMYuDVpTIEiP8bCbJKr4_bci52jYQ</string>
	<key>GCM_SENDER_ID</key>
	<string>14648808947</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adda.shoeorders</string>
	<key>PROJECT_ID</key>
	<string>shoeorder-febb9</string>
	<key>STORAGE_BUCKET</key>
	<string>shoeorder-febb9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:14648808947:ios:bc346b9b0a7a79fdfc2e86</string>
	<key>DATABASE_URL</key>
	<string>https://shoeorder-febb9.firebaseio.com</string>
</dict>
</plist>